.side-contents
  %ul.side-contents__list
    %li.side-contents__title
      = link_to "すしゲットゲーム", "/"
    %li.side-contents__title
      = link_to "おみくじルーレット", "/roulette"
    %li.side-contents__title
      = link_to "スワイプカー", "/swipe_car"
    %li.side-contents__title
      = link_to "キャットエスケープ", "/cat_escape"
    %li.side-contents__title
      = link_to "雲登り", "/climb_cloud"
